/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
    height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

/* page layout styling */
body {
    display: grid;
    grid-template-rows: 56px 240px auto;
    grid-template-columns: 80px auto;
}

#top-app-bar {
    grid-column-start: 1;
    grid-column-end: 3;
}

#navrail {
    grid-row-start: 2;
    grid-row-end: 5;
}

#banner-ad {}

#main-content {
    grid-row-start: 3;
    grid-row-end: 5;
}


#top-app-bar .nav-groups {
    display: flex;
    align-items: center;
    height: 100%;
}

#top-app-bar .nav-groups .start-div-group {
    display: flex;
    flex: 0 0 187px;
    align-items: center;
}

#top-app-bar .nav-groups .start-div-group #logo {
    width: 107px;
    height: 40px;
    ;
}

#top-app-bar .nav-groups .center-div-group {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;

}

#top-app-bar .nav-groups .center-div-group label {
    display: flex;
    width: 90%;
    max-width: 640px;
    justify-content: flex-end;
}

#top-app-bar .nav-groups .center-div-group label input[type='text'] {
    width: 100%;
    max-width: 488px;
    border: 1px solid #CCE8E9;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0px 20px;
}

#top-app-bar .nav-groups .center-div-group label input[type='text']:focus,
#top-app-bar .nav-groups .center-div-group label input[type='text']::selection {
    outline: none;
}

#top-app-bar .nav-groups .end-div-group {
    display: flex;
    flex: 0 0 217px;
    gap: 8px;
    align-items: center;
}

.login-signup-button p {
    color: #1DBDC5;
}

#top-app-bar .nav-groups .end-div-group .login-signup-button {
    border: 1px solid #1DBDC5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 81px;
    box-sizing: content-box;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 8px;
    gap: 8px;
    cursor: pointer;
    position: relative;
}
#top-app-bar .nav-groups .end-div-group .login-signup-button.logged-in {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    background-color: #CCE8E9;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}
.menu{
    margin: 0px 20px;
    border-radius: 50%;
    padding: 8px 8px;
    box-sizing: content-box;
    color: #041F21;
}
.search{
    padding: 8px 16px;
    background-color: #CCE8E9;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-sizing: content-box;
    color: #041F21;
}
.voice-search{
    padding: 8px 8px;
    background-color: #CCE8E9;
    border-radius: 50%;
    margin-left: 8px;
    box-sizing: content-box;
    color: #041F21;
}
.notifications{
    padding: 8px 8px;
    border: 1px solid #CCE8E9;
    border-radius: 50%;
    box-sizing: content-box;
    color: #041F21;
}
.translate{
    padding: 8px 8px;
    border: 1px solid #CCE8E9;
    border-radius: 50%;
    box-sizing: content-box;
    color: #041F21;
}
.account-circle{
    box-sizing: content-box;
    color: #041F21;
}

.profile-img{
    border-radius: 39px;
    height: 38px;
    width: 38px;
}

.login-realign{
    justify-content: flex-end;
    margin-right: 24px;
}

.profilePopUp{
    display: flex;
    flex-direction: column;
    border: #1DBDC5 2px solid;
    border-radius: 10px;
    width: 380px;
    position: absolute;
    top: 56px;
    right: 0px;
    box-sizing: content-box;
    height: 666px;
    overflow: auto;
}
.profilePopUp .userInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px 0px 16px;
}
.profilePopUp .userInfo .textInfo{
    display: flex;
    flex-direction: column;
}
.profilePopUp .userInfo img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.profilePopUp .level-and-checkIn{
    display: flex;
    justify-content: space-between;
    padding: 10px 16px 0px 16px;
}
.profilePopUp .level-and-checkIn h1{
    position: relative;
    top: -10px;
}
.profilePopUp .level-and-checkIn h1{
    color: #1DBDC5;
    /* margin: 10px; */
}
.profilePopUp .level-and-checkIn .checkIn{
    background-color: #4a91c86d;
    height: max-content;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
}
.profilePopUp .listOne,
.profilePopUp .listTwo,
.profilePopUp .listThree{
    padding: 0px 16px;
    
}
.profilePopUp .listOne p,
.profilePopUp .listTwo p,
.profilePopUp .listThree p{
    color:#041F21;
    
}

.profilePopUp .listOption{
    display: flex;
    gap: 16px;
    cursor: pointer;
    height: 40px;
    align-items: center;
}

.profilePopUp .listTwo .listOption .right-arrow{
    margin-left: auto;
    
}
.profilePopUp .paidMembershipBanner{
    display: flex;
    padding: 16px 16px;
    padding-top: 26px;
    background-color: #D6E3FF;
    gap: 16px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: relative;
    /* z-index: 10; */
    top: -10px;
}
.profilePopUp .paidMembershipBanner p {
    color: #041F21;
}

.profilePopUp .coins-and-tickets{
    display: flex;
    justify-content: space-between;
    padding: 16px 16px;
    gap: 16px;
    padding-top: 0px;
    margin-top: -6px;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: relative;
    z-index: 10;
}
.profilePopUp .coins-and-tickets p{
    color: #000;
}
.profilePopUp .coins-and-tickets .coins,
.profilePopUp .coins-and-tickets .tickets{
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #CCE8E9;
    flex: 1 1 auto;
    padding: 8px;
    color: #041F21;
}

.scrollbar
{
	background: #FDFCFC;
}
.scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #1DBDC5;
}
